
	<form :id="bankAccount-input-form" action={{ action }} method="post">
		<input type="hidden" name="bankId" 	value={{ bankId }}>
		<input type="hidden" name="orderId" value={{ orderId }}>
			<div class="modal-header">
				{% if checkout|trim is empty %}
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">x</span>
					</button>
				{% else %}
					<button type="button" onClick="window.location.reload()" class="close">
						<span aria-hidden="true">x</span>
					</button>
				{% endif %}
				<h4 class="modal-title">{{ trans("Debit::PaymentMethod.bankDetails") }}</h4>
			</div>

            <div class="modal-body form-horizontal row">
                <div class="col-xs-12">
                    <div class="input-unit">
                        <label :for="bankAccountOwner">{{ trans("Debit::PaymentMethod.bankAccountOwner") }} *</label>
                        <input type="text" name="bankAccountOwner" value={{ bankAccountOwner }} required>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="input-group">
                        <div class="input-unit">
                            <label :for="bankName">{{ trans("Debit::PaymentMethod.bankName") }} *</label>
                            <input type="text" name="bankName" value={{ bankName }} required>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="input-group">
                        <div class="input-unit">
                            <label :for="bankIban">{{ trans("Debit::PaymentMethod.bankIban") }} *</label>
                            <input type="text" name="bankIban" value={{ bankIban }} required>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="input-group">
                        <div class="input-unit">
                            <label :for="bankBic">{{ trans("Debit::PaymentMethod.bankBic") }} *</label>
                            <input type="text" name="bankBic" value={{ bankBic }} required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
            	<button type="submit" class="btn btn-block" :class="buttonClasses">
                	<i v-waiting-animation="isDisabled" class="fa fa-arrow-right" aria-hidden="true"></i>
                   	{{ trans("Debit::PaymentMethod.bankAccountButtonLabel") }}
            	</button>
            </div>
    </form>